<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parabank Full Stack Automation Suite">

  <test name="UI Tests">
    <packages>
      <package name="ui.tests"/> <!-- or ui.tests if renamed -->
    </packages>
  </test>

  <test name="API Tests">
    <packages>
      <package name="api.tests"/>
    </packages>
  </test>

</suite>
